<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado web</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css" />

    <!--Custum Css-->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    {{>Navbar}}
    {{>Bienvenida}}
    {{>Dashboard productos=productos}}
    {{>Footer}}


    <script src="/jquery/jquery.js"></script>
    <script src="/BootstrapJs/bootstrap.js"></script>

</body>

</html>